.quiz {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: seagreen;

	&Step {
		position: fixed;
		top: 0;
		right: 0;
		padding: 20px;
	}
}

.questions {
	display: flex;
	align-items: center;
	justify-content: center;

	&Nav {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 10px;
	}
}

.question {
	max-width: 480px;
	position: absolute;

	transition: 0.3s;
	opacity: 0;
	transform: scale(0.95);
	pointer-events: none;

	&_active {
		opacity: 1;
		transform: scale(1);
		pointer-events: all;
	}
}
